<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <wheel_under_cursor>1</wheel_under_cursor>
    <drag_window>1</drag_window>
    <hotkeys>
        <hotkey>
            <key>Q</key>
            <modifiers>WIN</modifiers>
            <command>
                <run>notepad.exe</run>
                <workingDir></workingDir>
            </command>
        </hotkey>
        <hotkey>
            <key>c</key>
            <modifiers>WIN</modifiers>
            <command>
                <run>cmd.exe</run>
            </command>
        </hotkey>
    </hotkeys>
</configuration>
