{
    "wheel_under_cursor": {
        "enabled": true,
        "exclusion_list": []
    },
    
    "enable_drag_window": true,
    "minimum_transparency_level": 10,
    "visual_feedback": true 

    "actions": [
        {
            "button": "Right",
            "modifiers": [],
            "locations": ["MaximizeButton", "CloseButton"]
            "action": "ToggleAlwaysOnTop"
        },
        {
            "button": "Right",
            "modifiers": [],
            "locations": ["MinimizeButton"]
            "action": "MinimizeToTray"
        },
        {
            "button": "WheelUp",
            "modifiers": [],
            "locations": ["TitleBar"]
            "action": "IncreaseTransparency,10"
        },
        {
            "button": "WheelDown",
            "modifiers": [],
            "locations": ["TitleBar"]
            "action": "DecreaseTransparency,10"
        }
    ]
}

<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <wheel_under_cursor>
        <enabled>true</enabled>
        <exclusion_list></exclusion_list>
    </wheel_under_cursor>
    <drag_window>1</drag_window>
    <minimum_transparency_level>5</minimum_transparency_level>
    
    <mousestrokes>
        <mousestroke>
            <button>Right</button>
            <modifiers></modifiers>
            <regions>MaximizeButton,CloseButton</regions>
            <action>ToggleAlwaysOnTop</action>
        </mousestroke>
        <mousestroke>
            <button>Right</button>
            <modifiers></modifiers>
            <regions>MinimizeButton</regions>
            <action>MinimizeToTray</action>
        </mousestroke>
        <mousestroke>
            <button>WheelUp</button>
            <modifiers></modifiers>
            <regions>TitleBar</regions>
            <action>IncreaseTransparency,10</action>
        </mousestroke>
        <mousestroke>
            <button>WheelDown</button>
            <modifiers></modifiers>
            <regions>TitleBar</regions>
            <action>DecreaseTransparency,10</action>
        </mousestroke>
    </mousestrokes>

</configuration>
